.bgContainer {
  width: 100%;
  height: 100%;
  resize: hidden;
  z-index: var(--z-index-level);
  background-color: var(--color-background);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding-top: 0;
  padding-bottom: 8px;
  height: 100%;
}

.settingBlock {
  p {
    margin-bottom: 8px;
  }
  margin-bottom: 16px;
}

.settingInput {
  width: 100%;
  background-color: var(--color-accent);
  border: 3px solid transparent;
  border-radius: 4px;
  padding: 0.5rem;
  cursor: pointer;
  overflow: hidden;
}

.saveButton {
  margin-top: auto;
}
