.bgContainer {
  width: 100%;
  height: 100%;
  resize: hidden;
  overflow: hidden;
  z-index: var(--z-index-level);

  background-color: var(--color-background);
}
.container {
  padding: 8px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.searchInput {
  margin-bottom: 2px;
}

.toolBar {
  margin-top: 4px;
}

.resultsList {
  margin-top: 4px;
}
